!!! 5
%html
  %head
    %title
      Double Post Blocker Example
  %body{style:'padding:30px; background-color:#234F32;'}
    .content{style:'padding:30px; background-color:white;'}
      - block body
